EXPO_PUBLIC_API_BASE_URL=http://192.168.xx.xx:8080
EXPO_PUBLIC_WS_URL=ws://192.168.xx.xx:8080/ws-raw
EXPO_PUBLIC_KLIPY_API_KEY=

# Nếu lỗi kết nôi EXPO GO thì chạy Mở PowerShell As Administrator và chạy: 
FIX=New-NetFirewallRule -DisplayName "Chatly Backend 8080" -Direction Inbound -Protocol TCP -LocalPort 8080 -Action Allow -Profile Any