GROQ_API_KEY=gsk_...
GROQ_MODEL=llama-3.3-70b-versatile

MONGODB_URI=mongodb://localhost:27018
MONGODB_DB_NAME=agent_server

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=agent_server_chunks
QDRANT_VECTOR_SIZE=768

HUGGINGFACE_API_KEY=hf_...
HF_EMBEDDING_MODEL=BAAI/bge-base-en-v1.5

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_BUCKET_NAME=uploads

JWT_SECRET_KEY=super-secret-change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

TAVILY_API_KEY=tvly-dev-...

APP_ENV=development
